DATABASE_URL="file:./prisma/data.db"
NEXTAUTH_SECRET="replace-with-random-string"
NEXTAUTH_URL="http://localhost:3000"
UPLOAD_DIR="./public/uploads"
ADMIN_EMAIL="admin@ridex.local"
ADMIN_PASSWORD="ChangeMe123!"
